/discussions
/docs/codebase-*.md
/plans
/knevo_dataset
/data-sample
# CocoIndex Code (ccc)
/.cocoindex_code/
/.graymatter
/.cursor
/plantuml-images
/opencode.jsonc
/.mcp.json
/.playwright-mcp
/AGENTS.md
node-modeules
.vscode
